{:paths ["src"]
 :deps {
        io.github.kotoba-lang/wit-interface
        {:git/url "https://github.com/kotoba-lang/wit-interface.git"
         :git/sha "f9f7edc1ac8a3e0ee1ed9d9aefebf0a15ed197b5"}
        io.github.kotoba-lang/wit-problem
        {:git/url "https://github.com/kotoba-lang/wit-problem.git"
         :git/sha "ec76ef90d507640f20d7f29335e2a096611a3a3c"}
        io.github.kotoba-lang/wit-validate-function
        {:git/url "https://github.com/kotoba-lang/wit-validate-function.git"
         :git/sha "23ca87410c40ee98b57d8bcaa477afceb20f2ebb"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
